Source: @@_PKG_NAME_@@
Section: mail
Priority: optional
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Maintainer: Zimbra Packaging Services <build@zimbra.com>
Uploaders: Zimbra Packaging Services <build@zimbra.com>

Package: @@_PKG_NAME_@@
Section: mail
Priority: optional
Version: @@ENV_PKG_VERSION@@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zimbra-core
Description: Zimbra Drive Extensions
